# Xcode / Derived
DerivedData/
build/
*.xcuserstate
*.xccheckout
*.xcbkptlist
*.perspectivev3
**/*.xcuserdatad/

# macOS noise
.DS_Store

# Android
android/build/
android/app/build/
android/.gradle/
android/local.properties
**/.DS_Store
